/* primo esercizio  */
.ex-1-square{
    transition: background-color 2s ease;
}
.ex-1-square:hover{
    background-color: red;
}
/* fine primo esercizio */
/* secondo esercizio  */
.ex-2-square{
    transition: width 2s ease-in-out;
}
.ex-2-square:active{
    width: 100%;
}
/* fine secondo esercizio  */