/* primo esercizio  */
.ex-1-square{
    transition: background-color 2s ease;
}
.ex-1-square:hover{
    background-color: red;
}
/* fine primo esercizio */
/* secondo esercizio  */
.ex-2-square{
    transition: width 2s ease-in-out;
}
.ex-2-square:active{
    width: 100%;
}
/* fine secondo esercizio  */
/* terzo esercizio */
.ex-3-square{
    transition: border-radius 0.5s ease-in;
}
.ex-3-square:hover{
    border-radius: 50%;
}
/* fine terzo esercizio  */
/* quarto esercizio  */
.ex-4-square{
    transition: all 1s ease-out;
}
.ex-4-square:hover{
    opacity: 0;
}
/* fine quarto esercizio  */
/* quinto esercizio  */
.ex-5-square{
    transition: all 1s ease;
}
.ex-5-square:hover{
    transform: scale(2);
}
.ex-5-square:active{
    transform: scale(0.5);
}
/* fine quinto esercizio  */
/* sesto esercizio  */
.ex-6-img:hover{
    filter: grayscale();
}
/* fine sesto esercizio  */
/* inizio settimo esercizio  */
.ex-7-img{
    transition: all 2s linear;
}
.ex-7-img:hover{
    filter:sepia(60%) grayscale(50%);
}
 /* fine settimo esercizio  */
 /* ottavo esercizio  */
 .ex-8-img{
     transition: all 2s ease;
 }
 .ex-8-img:hover{
    filter: saturate(100%) sepia(80%);
    border-radius: 20px;
}
 /* fine ottavo esercizio  */
 /* inizio nono esercizio  */
 .ex-9-img{
    transition: all 2s ease-out;
}
.ex-9-img:hover{
    filter: sepia(70%) grayscale(30%);
    border-radius: 20px;
    transform: scale(1.5);
}
 /* fine nono esercizio  */
 /* inizio esercizio 10 */
 .ex-10-icon{
     animation: spin 1s linear infinite;
 }
 @keyframes spin {
     from {transorm: rotate(0deg);}
     to {transform:rotate(360deg)}
 }
 /* fine esercizio 10  */
 /* esercizio 11 */
    .ex-11-icon:hover{
        animation: spin2 2s linear 1;
    }
    @keyframes spin2 {
        0% {transform: rotate(0deg);}
        90% {transform:rotate(290deg)}
        0% {transform: rotate(0deg);}
    }
 /* fine esercizio 11 */
 /* esercizio 12  */
 .ex-12-button:hover .ex-12-top-white{
    animation: move 2s linear 1;
}
.ex-12-button:hover .ex-12-bottom-white{
    animation: move2 2s linear 1;
}

@keyframes move{
    0%{left: 10%;}
    60%{left: calc(100% - 60px);}
    100%{left: 10%;}
}
@keyframes move2{
    0%{right: 20%;}
    60%{right: calc(100% - 60px);}
    100%{right: 20%;}
}
 /* fine esercizio 12  */