/* primo esercizio  */
.ex-1-square{
    transition: background-color 2s ease;
}
.ex-1-square:hover{
    background-color: red;
}
/* fine primo esercizio */
/* secondo esercizio  */
.ex-2-square{
    transition: width 2s ease-in-out;
}
.ex-2-square:active{
    width: 100%;
}
/* fine secondo esercizio  */
/* terzo esercizio */
.ex-3-square{
    transition: border-radius 0.5s ease-in;
}
.ex-3-square:hover{
    border-radius: 50%;
}
/* fine terzo esercizio  */
/* quarto esercizio  */
.ex-4-square{
    transition: all 1s ease-out;
}
.ex-4-square:hover{
    opacity: 0;
}
/* fine quarto esercizio  */
/* quinto esercizio  */
.ex-5-square{
    transition: all 1s ease;
}
.ex-5-square:hover{
    transform: scale(2);
}
/* fine quinto esercizio  */
/* sesto esercizio  */
.ex-6-img:hover{
    filter: grayscale();
}
/* fine sesto esercizio  */